# Logs
logs
*.log

# Build files
build/
dist/
ui/
*.js.map

# Dependency directories
node_modules/

# Editor files
.idea
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache files
*.cache
*.tgz
*.lock

# Tests
/coverage

# Output of 'npm pack'
*.tgz

# Environment files
.env

.tracetrail
