.variable-value {
    hyphens: auto;
}

.json-container {
    font-size: 12px;
    margin-top: 10px;
    overflow-x: 'hidden';
    overflow-y: 'scroll';
}

.react-json-view {
    word-break: break-all;
}

.pretty-json-container {
    background-color: #191c24;
}


.c-gradient{
    background: linear-gradient(to bottom, rgba(81, 92, 99, 0.3), rgba(255, 106, 0, 0));
}

.active{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.186), rgba(255, 255, 255, 0));
}